<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="formClients">
                <div>
                    <input type="text" placeholder="Nome Completo" class="form-control mb-3" name="name" formControlName="name"  [(ngModel)]="client.name" >
                    <input type="text" placeholder="Data de Nascimento" class="form-control mb-3" name="date" formControlName="date" matInput mask="d0/M0/0000"  [(ngModel)]="client.date">
                    <input type="text" placeholder="Endereço completo" class="form-control mb-3" name="address" formControlName="address" [(ngModel)]="client.address">
                    <input type="text" placeholder="CPF" class="form-control" name="CPF" formControlName="CPF" mask="000.000.000-00"  [(ngModel)]="client.CPF">

                    <div class="buttons">
                        <div class="mt-3 d-flex justify-content-between">
                            <button class="btn btn-primary" type="submit"  name="save"  (click)="cadastrarClientes()">Salvar</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#CancelModal">Cancelar</button>
                        </div>
                    </div>
                </div> 
            </form>
            <div class="modal fade" id="CancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Certeza??</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Certeza que deseja cancelar?
                            Alterções não salvas serão perdidas.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="Voltar()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


