<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" (click)="navigateToClientCrate()" class="btn btn-primary btn-lg">Novo Cliente</button>
        </div>
    </div>

    <!-- Tabela de visualização dos cadastrados -->
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered  mt-5 shadow p-3 mb-5 bg-body rounded">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data Nascimento</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Telefone</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <th>{{client.id}}</th>
                        <td>{{client.name}}</td>
                        <td >{{client.date | date: 'dd/MM/yyyy'}}</td>
                        <td>{{client.CPF | CPF}}</td>
                        <td>{{client.address}}</td>
                        <td>{{client.phone}}</td>
                        <td class="d-flex justify-content-end">
                            <a routerLink="/client/update/{{client.id}}" class="edit">
                                <i class="bi bi-pen-fill "></i>
                            </a>
                            <a (click)="removerCliente(client.id)" id="delete">
                                <i class="bi bi-trash-fill "></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
     <!-- Tabela de visualização dos cadastrados -->
</div>

<!-- Modal da mensagem de cancelamento -->
<!-- <div *ngFor="let client of clients" class="modal fade" id="CancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Certeza que deseja excluir este cliente?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Esta ação não poderá ser desfeita.
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Voltar</button>
                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="removerCliente(client.id)">Excluir</button>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal da mensagem de cancelamento -->