.card-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
}

.card-text {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 300;
}

.card-center {
    align-content: center;
}